.container {
  background-color: #f0f0f0;
}

/* section info-container */
.info-container {
  display: inline-grid;
  /* grid-template-columns: repeat(4, 400px); */
  /* grid-gap: 1rem; */
  margin-top: 20px;
  padding: 1rem;
}
.info-box {
  text-align: left;
  margin-left: 5px;
}
.info-box > label {
  color: #cac9c8;
}
.info-box > label.bolder {
  color: #000;
}
.info-box > main {
  margin-left: 50px;
  margin-top: 25px;
}
.large-text {
  font-size: 1.8vw;
}
.medium-text {
  font-size: 1vw;
}
/* section card-container */
.card-container {
  display: grid;
  /* grid-template-columns: 600px 600px 400px; */
  /* grid-template-rows: 300px 500px; */
  /* grid-row-gap: 2rem; */
  /* grid-column-gap: 3rem; */
  padding: 1rem;
  margin-left: 2rem;
}
.card {
  background-color: white;
  border: #282c34 2rem;
}
.card__title {
  font-size: 2rem;
  padding: 0.5rem;
}
.card__description {
  padding: 0.5rem;
  line-height: 1.6em;
}
.column-expand {
  grid-column: span 2;
}
