.table {
    margin: 5px 0;
}
.table-header {
    display: flex;
    line-height: 24px;
    margin: 5px 0;
    padding: 20px 20px 5px 5px;
}
.table-row {
    display: flex;
}
.table-active-row {
    margin: 5px 0;
    padding: 20px 20px 20px 5px;
    line-height: 24px;
    background: #00B7C6;
    border-radius: 20px;
}
.table-row > span {
    color: white;
}
.table-students {
    width: 100%;
    table-layout: auto;
}
.table-student-row {
    margin: 5px 5px;
    padding: 20px 20px 20px 5px;
    line-height: 20px;
    background: #00CB9F;
    border-radius: 20px;
}